.App {
    text-align: center;
}

.card {
    margin: auto;
    width: 600px;
    margin-top: 200px;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    background-color: #f8f8f8d6;
    padding: 25px 25px 25px 25px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cell {
    width: 25%;
    height: 150px;
    float: left;
    line-height: 150px;
    text-align: center;
    background: #fff;
    font-size: 50px;
    font-weight: 700;
    color: #444;
    box-sizing: border-box;
    border: 1px solid #ddd;
    user-select: none;
    cursor: pointer;
  }

  .cell.initial {
    background: #eee;
    color: #666;
    cursor: initial;
  }

  .cell:nth-child(-n + 4) {
    border-top: 3px black solid;
  }

  .cell:nth-child(n + 13) {
    border-bottom: 3px black solid;
  }

  .cell:nth-child(4n + 1) {
    border-left: 3px black solid;
  }

  .cell:nth-child(4n) {
    border-right: 3px black solid;
  }

  .cell:nth-child(4n + 2) {
    border-right: 3px black solid;
  }

  .cell:nth-child(5) {
    border-bottom: 3px black solid;
  }

  .cell:nth-child(6) {
    border-bottom: 3px black solid;
  }

  .cell:nth-child(7) {
    border-bottom: 3px black solid;
  }

  .cell:nth-child(8) {
    border-bottom: 3px black solid;
  }

  p {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
  }

  button {
    padding: 15px;
    border: 0;
    background: #444;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .timer {
    font-size: 20px;
  }

  .restart-button {
    background-color: #fff;
    border: 1px solid #444;
    color: #444;
    margin-right: 20px;
  }
  .maps {
    height: 400px;
    width: 100%;
  }
