.map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

  }

  .ol-zoom {
    top: 34em;
    right: .5em;
    left: auto;
  }

  .rotate-north {
    top: 56em;
    right: .5em;
  }

  .customoption {
    position: absolute;
    top: 7em;
    right: .5em;
    width: 50px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    z-index: 98;
  }

  .menuoption {
    position: absolute;
    top: 14em;
    right: .5em;
    width: 50px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    z-index: 98;
  }

  .menuoption img {
    padding-top: 5px;
  }

  .ol-control {
    display: none;
    /*แท็บซูมขยายพื้นฐาน ปิดชั่วคราว*/
    position: absolute;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
    padding: 2px;
  }

  .ol-full-screen {
    top: 32em;
    right: .5em;
  }

  #panel {
    background-color: #A6BDCE;
    top: 0;
  }

  .ol-toolbal {
    position: absolute;
    background-color: white;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 6px;
    border-radius: 5px;
    border: -7px solid #cccccc;
    width: 100%;
    top: 18.5em;
    /* left: 650px; */
    z-index: 99;
    height: 52px;
    margin-top: 0.3%;
  }

  .filter {
    position: absolute;
    z-index: 998;
    margin: 4% 1%;
    border-style: outset;
    border-width: 5px;
    border-color: #21d4c3;
  }

  .description {
    position: absolute;
    z-index: 98;
    right: 0.5rem;
    top: 95%;
  }

  .showdescription {
    position: absolute;
    z-index: 99;
    right: 5rem;
    bottom: 2vh;
    display: none;
    max-height: 100vh;
    max-width: 450px;
    border: 2px solid #7EA6B9;
    background-color: #7ea6b947;

  }

  .showdescription img {
    width: 100%;
    height: 15vh;
  }

  #toolbal button {

    height: 50px;
    overflow: hidden;
    width: 145px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px;
    transition: 0.3s;
  }

  #toolbal .dropdown-content button {
    background-color: #8dacbbb8;
  }


  #toolbal button:hover {
    background-color: #7EA6B9;

  }

  #toolbal button.active {
    background-color: #7EA6B9;

  }

  #menu-top button {
      position: relative;
    background-color: #558ED5;
    border: none;
    height: 40px;
    margin-top:-6px;
  }
  #menu-top img {
    position: relative;
    border: none;
    top: 0px;
}

  #menu-top button:hover {
    background-color: #f9fff9;
  }

  #menu-top .active {
    background-color: #f9fff9;
    display: inline-table;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #DBEEF4;
    right: 20px;
    top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    z-index: 9999;
  }

  .dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }



  .dropdown-content a:hover {
    background-color: #ddd;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .t1 {
    left: 0px;
    top: 45px;
    width: 200px;

  }

  .t3 {
    left: 0px;
    top: 45px;
    width: 300px;

  }

  .t5 {
    left: 0px;
    top: 45px;
    width: 400px;

  }

  .t6 {
    left: 0px;
    top: 45px;
    width: 350px;
  }

  .t7 {
    right: 50px;
    top: 45px;
    width: 350px;
  }

  .bootstrap-select .btn {
    background-color: #FFF;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: gray;
    font-weight: 200;
    padding: 12px 12px;
    font-size: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    overflow: hidden;
    text-align: center;
  }

  /* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

  .sidebar-right {
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    z-index: 99;
    background: #FFF;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .sidebar-right.active {
    right: 0;
  }

  #dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #dismiss:hover {
    background: #fff;
    color: #7386D5;
  }

  /*------------------------------------เมนูslide-chart---------------------------------------*/
  .menuchart {
    background-color: #21d4c3;
  }

  .menuchart:active {
    background-color: red;

  }

  /*------------------------------------------------selectfilter----------------------------------*/
  #selectfilter {
    background-color: #DBEEF4;
    border: none;
    width: 100%;
  }
  /*---------------------------------------------ฟังชั่นเล่นแสดงmap range input play------------------------------------*/
  .btnplayslidemap:hover {
    text-shadow:-2px 4px 0 #3cdaf3, -2px -4px 0 #3cdaf3,4px 0px 0 #3cdaf3;
    cursor: pointer;

  }
  .range input {
width: 100%;
position: absolute;
top: 50%;
margin-left: 15px;
height: 0;
-webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
-webkit-appearance: none;
width: 18px;
height: 18px;
margin: -8px 0  0;
border-radius: 50%;
background: #37adbf;
cursor: pointer;
border: 0 !important;
}
.range input::-moz-range-thumb {
width: 18px;
height: 18px;
margin: -8px 0  0;
border-radius: 50%;
background: #37adbf;
cursor: pointer;
border: 0 !important;
}
.range input::-ms-thumb {
width: 18px;
height: 18px;
margin: -8px 0  0;
border-radius: 50%;
background: #37adbf;
cursor: pointer;
border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
width: 100%;
height: 5px;
cursor: pointer;
background: #b2b2b2;
}
.range input::-moz-range-track {
width: 100%;
height: 5px;
cursor: pointer;
background: #b2b2b2;
}
.range input::-ms-track {
width: 100%;
height: 5px;
cursor: pointer;
background: #b2b2b2;
}
.range input:focus {
background: none;
outline: none;
}
.range input::-ms-track {
width: 100%;
cursor: pointer;
background: transparent;
border-color: transparent;
color: transparent;
}

/*---------------------------------------------------------------------------*/
.fs {
    font-size: 13px;
}

.nav-link {
    transition: 0.3s linear;
}

.nav-link:hover {
    border-bottom: 4px solid #6aadda;
    padding: 6px 0;
}

.nav-link.active {
    border-bottom: 4px solid #6aadda;
    padding: 6px 0;
}