
.sidenav {
    position: absolute;
    z-index: 97;
    height: 80vh;
    width: 420px;
    left: -420px;
    background-color: #FFF;
    overflow-x: none;
    transition: 1s;
    border-top: 2px solid #23898e;
    border-bottom: 2px solid #23898e;
    border-right: 2px solid #23898e;
  }


.sidenav:hover {
    height: 80vh;
    width: 420px;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #FFF;
    overflow-x: none;

  }
  .sidenav:hover i{
    margin-right:10px;
    transform: rotate(180deg);
  }
  .sidenav .sidecontent{
    width: 420px;
  }
  .tab{
      height: auto;
      width: 100%;
  }
  .tab .hide{
      display: none;
  }
  .tab button {
    display: inline;
  }

  .headnav button:hover {
    color: #d4cfcf;
  }

.main{
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.hide{
    display: none;
}