#toolbal{
    position: relative;
    background-color: #509eb1;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    width: 100%;
    height: 45px;
    font-size: 16px;
    margin-top: -15px;
    z-index: 99;
}
#toolbal .dropdown button{
  height: 43px;
}
#toolbal button {
    font-size: 14px;
    height: 43px;
    width: 145px;
    background-color: #509eb1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 0px;
    transition: 0.3s;
    color: #FFF;
  }

  #toolbal .dropdown-content button {
    background-color: #489aadb8;
  }


  #toolbal button:hover {
    background-color: #7EA6B9;

  }

  #toolbal button.active {
    background-color: #7EA6B9;

  }
  .dropdown {
    position: relative;
    display: inline-block;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #DBEEF4;
    right: 20px;
    top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    z-index: 9999;

  }

  .dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  }

  .dropdown-content p {
    color: black;
    font-size: 14px;
  }



  .dropdown-content a:hover {
    background-color: #ddd;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .t1 {
    left: 0px;
    top: 40px;
    width: 200px;


  }

  .t3 {
    left: 0px;
    top: 40px;
    width: 300px;

  }

  .t5 {
    left: 0px;
    top: 40px;
    width: 400px;

  }

  .t6 {
    left: 0px;
    top: 40px;
    width: 350px;
  }

  .t7 {
    right: 50px;
    top: 40px;
    width: 350px;
  }

  .bootstrap-select .btn {
    background-color: #FFF;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    color: gray;
    font-weight: 200;
    padding: 12px 12px;
    font-size: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    overflow: hidden;
    text-align: center;
  }